/* AadharAuthentication.css */

/* Style for the entire container */
.container-aadhar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1818;
}
.aadhar {
  color: #fff;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #313131;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Style for the common card layout for Aadhar and KYC sections */
.card {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Heading styles */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style for labels and input fields */
label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="text"] {
  background-color: #eee;
  border: 0.2px solid #555;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

/* Style for buttons */
.classicButton {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #ff9640;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.classicButton:hover {
  background-color: #555;
}

.kyc {
  color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #313131;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for success message */
.success-message {
  text-align: center;
  color: #4caf50;
  font-weight: bold;
  margin-top: 20px;
}

/* Style for error message */
.error-message {
  text-align: center;
  color: #ff5722;
  font-weight: bold;
  margin-top: 20px;
}

/* KYC Successful Styles */
/* KYC Successful Styles */
.kyc-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 20px;
}

.kyc-head {
  text-align: center;
  margin: 20px 0;
}

.kyc-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

/* Style for each field row */
.kyc-row .row {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
}

.row label {
  flex: 1;
  text-align: right;
  padding-right: 10px;
}

.row input[type="text"] {
  flex: 2;
  background-color: #eee;
  border: 0.2px solid #555;
  border-radius: 5px;
  padding: 8px 10px;
  width: 100%;
}

/* Style for the "Save" button */
.save-btn {
  display: flex;
  justify-content: center;
  width: 40%;
  margin-top: 20px; /* Adjust the margin-top value to control the distance from the rows */
}
.saveButton {
  display: block;
  width: 30%; /* Adjust the width according to your preference */
  padding: 10px;
  font-size: 18px;
  background-color: #ff9640;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 10px 0;
}

.saveButton:hover {
  background-color: #555;
}

