/* AadharAuthentication.css */

/* Style for the entire container */
.container-aadhar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1818;
}
.aadhar {
  color: #fff;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #313131;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Style for the common card layout for Aadhar and KYC sections */
.card {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Heading styles */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style for labels and input fields */
label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="text"] {
  background-color: #eee;
  border: 0.2px solid #555;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

/* Style for buttons */
button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

/* Style for success message */
.success-message {
  text-align: center;
  color: #4caf50;
  font-weight: bold;
  margin-top: 20px;
}

/* Style for error message */
.error-message {
  text-align: center;
  color: #ff5722;
  font-weight: bold;
  margin-top: 20px;
}

/* KYC Successful Styles */
.kyc-success {
  color: #fff;
  
}

/* Show KYC successful section when isOTPVerified is true */
.is-otp-verified .kyc-success {
  display: block;
}

.kyc {
  color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #313131;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}